/* MOBILE FIRST */

/*************CONTACT****************/

article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form#myFormulaire {
	width: 90%;
	background-color: #46C1F5;
	border-radius: 30px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
}

input#name,
input#first_name,
input#student,
select#classroom,
input#email,
textarea#message {
	background: grey;
	border-radius: 20px;
	width: 20rem;
}

select {
	width: 95%;

}

.form input {
	width: 70%;
	text-align: right;
	border-radius: 0.5em;
	border: #ccc;
	Padding: 0.5em 1em;
	font-size: 1.6rem;
	color: #333;
	color: #000000;
	border: solid;
}

textarea {
	width: 95%;

}

fieldset {
	margin-bottom: 2em;
	margin-top: 2em;
	Padding: 1em;
	font-size: 1.6rem;
	border: rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	width: 500px;
}

.legende {
	Padding: 1em;
	font-size: 1.8rem;
}

@media screen and (min-width: 760px) {
	form#myFormulaire {
		width: 40%;
		margin-top: 1rem;
	}

}

@media screen and (min-width: 1100px) {
	form#myFormulaire {
		width: 30%;

	} // article {
	// 	margin-left: 100rem;
	// 	width: 60%;
	// 	border: solid;
	// }
	// .form {
	// 	border: solid;
	// }
}
