/* MOBILE FIRST */

/*************HEADER****************/

header {
    background-image: url("../images/199490002_l_normal_none-removebg-preview.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 20px;
    text-align: center;
    align-content: flex-start;
    width: 70%;
    margin-top: 0;
}

.logo {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
}

.logo img {
    width: 5rem;
}

.ape {
    font-family: 'Parisienne', cursive;
    color: #000000;
}

.v {
    color: #44f444;
    text-shadow: 3px 3px #000000;
}

.j {
    color: #3da2e5;
    text-shadow: 3px 3px #000000;
}

/*effet barre d'accueil*/

.accueil {
    width: 100%;
}

li:hover {
    transform: scale(1.5);
    transition-duration: 0.4s;
}

#LeMenu a:hover {
    color: #EB3349;
    background: #ffaaaa; // color: #577bac; // border: solid 1px #577bac;
}

#LeMenu a {
    transition-duration: 0.2s;
    text-decoration: none;
    padding: 10px 20px;
    font: 1em Arial, Helvetica, sans-serif; // text-transform: uppercase;
    color: #FFFFFF;

}

nav#LeMenu {
    background-color: #240845;
    height: 5rem;
}

#LeMenu li {
    list-style: none;
    display: flex;
    justify-content: center
}



// /**************MENU BURGER**************/
/* bouton menu burger */

#CmdMenu {
    position: fixed;
    top: 4px;
    right: 4px;
    z-index: 50;
    padding: 5px 8px;
    color: #fff;
    background: #577bac;
    border-radius: 5px;
    cursor: pointer;
}

#CmdMenu:hover {
    background: #ffaaaa;
    color: #577bac;
    border: solid 1px #577bac;
}

#CmdMenu {
    display: block;
}

#CmdMenu {
    display: none;
}



/*********RWD*********/

@media screen and (min-width: 760px) {}

@media screen and (min-width: 1100px) {

    #LeMenu {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: auto;
        justify-content: space-evenly
    }
    #LeMenu a {
        color: #000000;
        border: solid 1px #fff;
        border-radius: 30px;
        text-align: center;
    }
    .accueil a {
        background: #FFFFFF;
    }
}
